<div class="flex items-center mt-4 p-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-16 items-center w-full">
    <div class="order-2 md:order-1">
      <div class="flex flex-col items-center md:items-start">
        <div class="mb-2">
          <h1 class="whitespace-nowrap font-bold mb-2 text-white text-center sm:text-left text-xl sm:text-2xl md:text-3xl lg:text-4xl">
            Generate <span class="text-secondary">Concise</span> and<span class="text-secondary"><br />Shareable</span> Short Links
          </h1>

          <div>
           <p class="text-gray-500 text-center mt-2 sm:text-left mb-2 text-sm sm:text-base md:text-lg">
  Build your brand’s recognition and get detailed <br />
  insights on how your links are performing.
</p>

          </div>
        </div>

        <div class="w-full mx-auto">
          <%= render 'form' %>
        </div>
      </div>
    </div>
    <div class="order-1 md:order-2">
      <%= image_tag 'hero-section-shortener.png', class: 'max-h-full rounded w-full' %>
    </div>
  </div>
</div>
